# Build output
.next
out
dist
build

# Dependencies
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache
.npm

# Package files
package-lock.json
yarn.lock

# Environment variables
.env
.env.*
!.env.example 