@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 3% 100%;
    --card: 273 15% 12%;
    --card-foreground: 0 3% 100%;
    --popover: 283 5% 27%;
    --popover-foreground: 0 3% 100%;
    --primary: 274 54% 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 278 8% 20%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 300 3% 43%;
    --muted-foreground: 340 5% 74%;
    --accent: 346 100% 85%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 351 100% 63%;
    --destructive-foreground: 0 0% 98%;
    --success: 119 76% 75%;
    --dropzone: 276 23% 9%;
    --border: 0 3% 100%;
    --cube: 283 10% 29%;
    --badge: 215 24% 40%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-sans text-foreground antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .cube {
    @apply absolute h-[7px] w-[7px] bg-cube content-[''];
  }

  .card-background {
    background-image:
      linear-gradient(hsl(var(--card)), hsl(var(--card))), url(/border-image-2.png),
      linear-gradient(hsl(var(--card)), hsl(var(--card)));
    background-position: center, center, center;
    background-size:
      auto,
      100% 100%,
      auto;
    background-repeat: no-repeat;
    background-origin: padding-box, border-box, padding-box;
    background-clip: padding-box, border-box, padding-box;
  }

  .card-summary {
    background-image:
      url(/finish-line.png), linear-gradient(hsl(var(--card)), hsl(var(--card))),
      url(/border-image.png), linear-gradient(hsl(var(--card)), hsl(var(--card)));
    background-position:
      top left,
      center,
      center,
      center;
    background-size:
      cover,
      auto,
      100% 100%,
      auto;
    background-repeat: no-repeat;
    background-origin: padding-box, padding-box, border-box, padding-box;
    background-clip: padding-box, padding-box, border-box, padding-box;
  }
}
