@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* fixed background color */
    --background: 0 0 100%;
    /* fixed foreground color */
    --foreground: 0 0% 0%;

    --muted: 240 10.64% 90.78%;
    --muted-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 253 50% 0%;
    /* fixed border color */
    --border: 0 0% 71%;

    /* fixed input color */
    --input: 0 0% 6%;

    /* fixed primary color */
    --primary: 203 76% 64%;

    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;
    --accent: 240 23.81% 95.88%;
    --accent-foreground: 0 0% 0%;
    --destructive: 3.35 100% 61.37%;
    --destructive-foreground: 0 0% 100%;

    /* fixed ring color */
    --ring: 203 76% 64%;

    --chart-1: 135.1 58.57% 49.22%;
    --chart-2: 48 100% 50%;
    --chart-3: 221.25 94.12% 66.67%;
    --chart-4: 240.94 60.95% 58.82%;
    --chart-5: 348.57 100% 58.82%;
    --radius: 0.5rem;
  }

  .dark {
    /* fixed background color */
    --background: 0 0% 7%;

    /* fixed foreground color */
    --foreground: 0 0% 100%;

    --muted: 240 4.35% 9.02%;
    --muted-foreground: 0 0% 100%;
    --popover: 240 3.45% 11.37%;
    --popover-foreground: 240 23.81% 95.88%;

    /* fixed card color */
    --card: 0 0% 12%;
    --card-foreground: 0 0% 100%;

    /* fixed border color */
    --border: 240 2% 29%;

    /* fixed input color */
    --input: 0 0% 6%;

    /* fixed primary color */
    --primary: 203 76% 64%;

    --primary-foreground: 0 0% 100%;

    /* fixed secondary color */
    --secondary: 0 0% 15%;

    --secondary-foreground: 0 0% 100%;
    --accent: 240 2.22% 17.65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 7 88% 58%;
    --destructive-foreground: 0 0% 100%;

    /* fixed ring color */
    --ring: 203 76% 64%;
    --chart-1: 129.09 67.35% 51.96%;
    --chart-2: 49.96 100% 51.96%;
    --chart-3: 197.42 100% 69.61%;
    --chart-4: 240.87 73.4% 63.14%;
    --chart-5: 348.57 100% 58.82%;

    /* Embossed color */
    --embossed: 0 0% 100%;
    --submerged: 0 0% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-sans text-foreground antialiased;
  }

  /* Custom Scrollbar Styles */
  *::-webkit-scrollbar,
  *::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 3px;
    background-clip: padding-box;
    position: absolute;
    right: 0;
  }

  *::-webkit-scrollbar {
    background-color: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted));
    transition: background-color 0.3s ease;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary));
  }
}

@layer components {
  .border {
    @apply border-solid border-[1px] border-border;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .cube {
    @apply absolute h-[7px] w-[7px] bg-cube content-[''];
  }

  .card-background {
    background-image:
      linear-gradient(hsl(var(--card)), hsl(var(--card))), url(/border-image-2.png),
      linear-gradient(hsl(var(--card)), hsl(var(--card)));
    background-position: center, center, center;
    background-size:
      auto,
      100% 100%,
      auto;
    background-repeat: no-repeat;
    background-origin: padding-box, border-box, padding-box;
    background-clip: padding-box, border-box, padding-box;
  }

  .card-summary {
    background-image:
      url(/finish-line.png), linear-gradient(hsl(var(--card)), hsl(var(--card))),
      url(/border-image.png), linear-gradient(hsl(var(--card)), hsl(var(--card)));
    background-position:
      top left,
      center,
      center,
      center;
    background-size:
      cover,
      auto,
      100% 100%,
      auto;
    background-repeat: no-repeat;
    background-origin: padding-box, padding-box, border-box, padding-box;
    background-clip: padding-box, padding-box, border-box, padding-box;
  }
}

@layer base {
  .f1 {
    @apply flex-1;
  }

  .frow {
    @apply flex flex-row;
  }

  .fcol {
    @apply flex flex-col;
  }

  .center {
    @apply items-center justify-center;
  }

  .fcenter {
    @apply flex items-center justify-center;
  }

  .frow-center {
    @apply flex flex-row items-center justify-center;
  }

  .fcol-center {
    @apply flex flex-col items-center justify-center;
  }

  .fcol-icenter {
    @apply flex flex-col items-center;
  }

  .fcol-jcenter {
    @apply flex flex-col justify-center;
  }

  .frow-icenter {
    @apply flex flex-row items-center;
  }

  .frow-jcenter {
    @apply flex flex-row justify-center;
  }

  .fcol-between {
    @apply flex flex-col justify-between;
  }

  .frow-between {
    @apply flex flex-row justify-between;
  }

  @layer utilities {
    .text-xs {
      font-size: 8px;
      line-height: 12px;
    }
    .text-sm {
      font-size: 10px;
      line-height: 14px;
    }
    .text-base {
      font-size: 12px;
      line-height: 16px;
    }
    .text-lg {
      font-size: 13px;
      line-height: 20px;
    }
    .text-xl {
      font-size: 14px;
      line-height: 24px;
    }
    .text-2xl {
      font-size: 16px;
      line-height: 28px;
    }
    .text-3xl {
      font-size: 18px;
      line-height: normal;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    @media (min-width: 768px) {
      .text-xs {
        font-size: 10px;
        line-height: 12px;
      }
      .text-sm {
        font-size: 12px;
        line-height: 16px;
      }
      .text-base {
        font-size: 14px;
        line-height: 20px;
      }
      .text-lg {
        font-size: 16px;
        line-height: 24px;
      }
      .text-xl {
        font-size: 18px;
        line-height: 28px;
      }
      .text-2xl {
        font-size: 20px;
        line-height: 30px;
      }
      .text-3xl {
        font-size: 26px;
        line-height: normal;
      }
    }
  }
}
